<div class="container mt-5">
  <h1>Add a dose</h1>

  <%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.input :description %>
  <%= f.association :ingredient %>
  <%= f.button :submit, class: "btn btn-primary" %>
  <%= link_to "View all cocktail", cocktails_path, class: "btn btn-success" %>
  <% end %>
</div>
